html {
  font-family: sans-serif;
  font-size: 12px;
}

.grid {
  border: 1px solid #d9dddd;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25px solid #d9dddd;
}

.alive {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25px solid #d9dddd;
  background-color: black;
}

.dead {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25px solid #d9dddd;
  background-color: white;
}
