html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
}

#canvas-container {
  position: relative;
  flex-grow: 1;
}

#grid-canvas,
#cell-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#grid-canvas {
  z-index: 0;
}

#cell-canvas {
  z-index: 1;
}
