html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0 0 0 0;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#canvas-container {
  position: relative;
  flex: 1 1 auto;
}

#bottom-bar > span {
  font-family: monospace;
  padding-left: 8px;
  padding-right: 8px;
}

#right-status {
  float: right;
}

#grid-canvas,
#cell-canvas,
#preview-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#preview-canvas {
  opacity: 0.5;
}

#grid-canvas {
  z-index: 0;
}

#cell-canvas {
  z-index: 1;
}
