:root {
  --foreground-color: #5f6368;
  --background-color: #fff;
  --canvas-color: #fff;
}

[data-theme="dark"] {
  --foreground-color: #fff;
  --background-color: #000;
  --canvas-color: #5f6368;
}

html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0 0 0 0;
  touch-action: none;
  -webkit-user-select: none;
}

svg,
path,
a > span {
  pointer-events: none;
}

.drop-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--canvas-color);

  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }

  #grid-canvas {
    z-index: 0;
  }

  #cell-canvas {
    z-index: 1;
  }
}

nav {
  z-index: 2;
  position: absolute;
  padding: 0 12px 0 12px;
  line-height: normal;
  height: 58px;
  background-color: var(--background-color);

  #speed-dropdown a {
    color: var(--foreground-color);
    font-size: 1.2rem;
  }

  input[type="range"] {
    margin-top: 25px;
  }

  span.thumb {
    display: none;
  }

  ul a.btn-flat {
    color: var(--foreground-color);
    padding: 18px 18px 20px 18px;
    margin: 0;
    border-radius: unset;
    line-height: normal;
    height: 58px;

    &.active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &[hidden] {
      display: none;
    }

    svg {
      width: 20px !important;
      height: 20px !important;
    }

    span {
      vertical-align: bottom;
      font-size: 16px;
      text-transform: none;
      line-height: 20px;
      height: 20px;
    }
  }
}

#bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 6px 18px 6px 18px;

  span {
    font-family: monospace;
    font-size: 1.2rem;
  }

  #right-status {
    float: right;
  }
}

#pattern-modal {
  overflow-y: hidden;

  .modal-body {
    display: flex;
  }

  #pattern-list {
    flex: 0 0 200px;
    padding-right: 8px;
    overflow-y: scroll;
    height: 72vh;

    .collapsible {
      box-shadow: none;
      border: none;
    }

    .collapsible-header {
      color: black;
      border-bottom: none;
      background-color: #fafafa;
    }

    .collection {
      padding: 0;
    }

    .collection-item {
      color: black;
      border-bottom: none;
      background-color: #fafafa;
    }
  }

  #pattern-details {
    padding: 8px;

    button {
      width: 150px;
      margin-top: 8px;
    }
  }
}
